@use "../abstracts/Variables" as *;

@mixin background-opacity($color, $opacity: 0.42) {
	background: $color;
	background: rgba($color, $opacity);
}

@mixin scrollbar($width: 1em, $track-color: map-get($backgroundColors, 'bg-7'), $thumb-color: map-get($backgroundColors, 'bg-5'), $thumb-hover-color: map-get($backgroundColors, 'bg-6')) {
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-track {
		background: $track-color; // #111111;

	}

	&::-webkit-scrollbar-thumb {
		background: $thumb-color; // #181818;
		border-radius: 0.5em;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: $thumb-hover-color; // #292929;
	}
}

@mixin no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}